<div class="flex flex-col h-full">
  {{block "board-name" .}}
    <h1 class="w-fit text-3xl text-white font-bold mb-5 group">
      {{.Name}}
      <i 
        hx-get="/edit/{{.Slug}}"
        hx-swap="outerHTML"
        hx-target="closest h1"
        class="fa-solid fa-pen-to-square ml-2 text-zinc-800 cursor-pointer group-hover:text-gray-400 text-xl"
      ></i>
    </h1>
  {{end}}
  <div class="flex grow overflow-scroll">
    <div id="kanban" class="flex sortable kanban">
      {{range .Columns}}
        {{block "column" .}}
          <div class="bg-gray-300 rounded-md px-5 py-4 w-80 mr-5 h-fit column">
            <div class="flex justify-between items-center">
              <h1 class="text-slate-800 font-bold text-xl mb-2 group">
                {{.Name}}
                <i 
                  hx-get="/board/{{.Slug}}/column/{{.ID}}"
                  hx-swap="innerHTML"
                  hx-target="closest div"
                  class="fa-solid fa-pen-to-square cursor-pointer text-sm ml-2 text-gray-300 group-hover:text-gray-500"
                ></i>
              </h1>
              <i 
                hx-delete="/board/{{.Slug}}/column/{{.ID}}"
                hx-swap="delete"
                hx-target="closest .column"
                class="fa-solid fa-trash cursor-pointer text-gray-500 opacity-25 hover:opacity-70"
              ></i>
           </div>
            
            <div class="sortable">
              {{range .Items}}
                {{template "partials/item" .}}
              {{end}}
              <input type="text" class="hidden" disabled readonly value="{{.ID}}">
            </div>

            <input 
              type="text" 
              name="name"
              hx-post="/columns/{{.ID}}"
              hx-target="previous .sortable"
              hx-swap="beforeend"
              hx-on::after-request="this.value = ''"
              placeholder="Add a new card..." 
              class="bg-gray-300 text-slate-600 focus:outline-none"
            >
            <input type="text" class="hidden" disabled readonly value="{{.ID}}">
          </div>
        {{end}}
      {{end}}
    </div>

    <button 
      hx-get="/board/{{.Slug}}/new"
      hx-target="#kanban"
      hx-swap="beforeend"
      class="rounded-md bg-purple-800 text-white py-5 px-10 h-fit whitespace-nowrap"
    >
      <i class="fa-solid fa-plus mr-1"></i> Add new list
    </button>
  </div>
</div>
<script src="../../static/js/kanban.js"></script>
<script src="../../static/js/remove-element.js"></script>