<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <title>{{.Title}}</title>
  <link href="../static/css/dist/output.css" rel="stylesheet">
</head>
<body>
  <div class="w-screen h-screen flex flex-col">
    <header class="flex justify-between items-center px-10 py-3 bg-zinc-900 text-white">
      <a href="/" class="hover:text-purple-500">
        <i class="fa-solid fa-table-columns mr-1"></i> Boards
      </a>

      <h1 class="font-bold font-pacifico text-2xl">Go Kanban</h1>
    
      <div class="flex items-center">
        {{if not .UserName}}
          <a href="/login" class="hover:text-purple-500 cursor-pointer">Login</a>
          <a href="/signup" class="px-2 py-1 rounded-md ml-3 bg-purple-500 text-white">Signup</a>
        {{else}}
          <p class="bg-zinc-700 rounded-md mr-3 px-2 py-1">{{.UserName}}</p>
          <a hx-post="/logout" class="hover:text-purple-500 cursor-pointer">
            <i class="fa-solid fa-right-from-bracket mr-1"></i> Sign out
          </a>
        {{end}}
      </div>
    </header> 
    
    <main class="grow p-10 bg-zinc-800">
      {{ embed }}
    </main>
    
    <footer class="text-center p-5 bg-zinc-800 text-white">
      <a href="https://www.trello.com" class="text-cyan-700 hover:underline">Trello</a> 
      tribute for educational purposes created by 
      <a href="https://www.hunterwilkins.dev" class="text-cyan-700 hover:underline">Hunter Wilkins</a>
    </footer>
  </div>
  {{if .HotReload}}
    <script src="../static/js/hot-reload.js"></script>
  {{end}}
</body>
</html>
